SHELL=/bin/bash

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday; 7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute (please use Unix line separator and make sure you put one at the end of the last command)


# Seed db data <
*/5 0-23 * * *  php (path to the project)/cli/retrieve_credit_kudos_data.php
